<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Prova</title>
            
    </head>
    
    <body>
        <header class="navbar">
            <form action="/upload" method="post" enctype="multipart/form-data" >
                <span class="btn btn-default btn-file">
                    Browse <input type="file" name="image">
                        </span>
                
                <input type="submit" value="Upload your image" class="btn btn-primary">
                    </form>
            
            <div class="text-center">
                {% if init %}
                <br><img src="{{ url_for('send_file', filename=filename) }}" width="500"><br><br>
                    <form action="/retry" method="get"> <!-- or method="post" -->
                        <input type="submit" value="Retry" >
                            </form>
                    {% endif %}
            </div> 
            
        </header>
        
    </body>
</html>
